<link rel="stylesheet" type="text/css" href="css/info.css">

<div ng-controller="initDataController as initDataCtrl" data-ng-init="getData()">

  <section class="top">
    <a href="#/cal"><button class="btn" type="button"><i class="fa fa-backward" aria-hidden="true"></i>Back</button></a>
    <button class="btn-right" ng-click="infoCtrl.deleteData()"><i class="fa fa-trash" aria-hidden="true"></i>Delete Record</button>
  </section>

  <div class="info-score">
    <div class="score" ng-repeat="num in initDataCtrl.repeatData">
      <h5>{{num.data}}</h5>
      <span ng-if="num.data <= 20">
        <img ng-src="css/images/temp3.jpeg">
      </span>
      <span ng-if="num.data > 20 && num.data <= 30">
        <img ng-src="css/images/temp2.jpeg">
      </span>
      <span ng-if="num.data > 30">
        <img ng-src="css/images/temp1.jpeg">
      </span>
      <h4>{{num.value}}</h4>
    </div>
  </div>

</div>
