<div class="temp" ng-controller="initController as initCtrl" data-ng-init="get(); timer()">

  <section class="top">
    <a href="#/info"><button class="btn" type="button" ng-click="calCtrl.stop()">Record Book</button></a>
  </section>

  <p>{{initCtrl.counter()}}</p>

  <p>Result: {{calCtrl.result}}</p>

  <section class="wrapper-center">
    <button class="btn" ng-click="get(); calCtrl.restart(); calCtrl.cleanUp()">Next</button>
    <button class="btn" ng-click="calCtrl.cleanUp()">Try Again</button>
  </section>

  <section class="wrapper-center">
    <p>{{calCtrl.cal}}</p>
  </section>

  <section class="wrapper-center">
    <p>{{calCtrl.message}}</p>
  </section>

  <section class="wrapper-center">
    <div class="bottom">
      <button class="submit" ng-click="calCtrl.submit()">Submit</button>
      <br>
      <button class="oeprator" ng-click="calCtrl.add('+')">+</button>
      <button class="oeprator" ng-click="calCtrl.add('-')">-</button>
      <button class="oeprator" ng-click="calCtrl.add('*')">*</button>
      <button class="oeprator" ng-click="calCtrl.add('/')">/</button>
      <button class="oeprator" ng-click="calCtrl.add('(')">(</button>
      <button class="oeprator" ng-click="calCtrl.add(')')">)</button>
      <br>
      <button class="digit" ng-repeat="num in initCtrl.random track by $index" ng-click="calCtrl.add(num)">
        {{num}}
      </button>
    </div>
  </section>

</div>
