<div class="main-content">
  <h1>{{mainCtrl.greeting}}</h1>
  <div class="main-frame">
    <p>
      <big>How to play?</big>
      <br>
      To use all 4 digits and operators to get "10". Calculation happens always letf to right. Use "()" if you need them.
      That mean is 2 + 2 * 2 + 2 = 10.
    </p>
    <p>
      <big>Buttons</big>
      <br>
      "Next" - Change 4 digits.
      <br>
      "Try again" - Delete calculation, but 4 digits are same.
      <br>
      "Submit" - Submit the answer.
      <br>
      "Record Book" - To check a game record.
    </p>
  </div>
  <a href="#/cal"><button class="btn">Start</button></a>
</div>
