<div class="main-content">
  <h1>{{mainCtrl.greeting}}</h1>
  <div class="main-frame">
    <p>
      <big>How to play?</big>
      <br>
      There are 4 digits. You need to use all 4 digits and some operators to get "10". Calculation happens letf to right. Use "()" if you need them to change the calculation order.
      For example; <br>
      2 + 2 * 2 + 2 = 10 <br>
      Because 2 + 2 = 4, 4 * 2 = 8, 8 + 2 = 10 <br>
      If use (), it will be 2 + (2 * 2) + 2 = 8 <br>
      Because 2 * 2 = 4, 2 + 4 = 6, 6 + 2 = 8
    </p>
    <p>
      <big>Buttons</big>
      <br>
      "Next" - Change 4 digits.
      <br>
      "Try again" - Delete calculation, but 4 digits are same.
      <br>
      "Submit" - Submit the answer.
      <br>
      "Record Book" - To check a game record.
    </p>
  </div>
  <a href="#/cal"><button class="btn">Start</button></a>
</div>
