<div class="main-content">
  <h1>{{mainCtrl.greeting}}</h1>
  <div class="main-frame">
    <p>
      <big>How to play?</big>
      <br>
      To use all 4 digit numbers and operators to get "10". Calicurate happens alwasy letf to right order, if you don't use "()". That mean is 2+2*2+2=10.
    </p>
    <p>
      <big>Buttons</big>
      <br>
      "Next" - Change 4 digit numbers.
      <br>
      "Try again" - Delete calicuration, but 4 digit numbers are same.
      <br>
      "Submit" - Submit the answer.
      <br>
      "Record Book" - To check correct answer record.
    </p>
  </div>
  <a href="#/cal"><button class="btn">Start</button></a>
</div>
